---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const blogPosts = await getCollection('blog');
---

<Layout title="Blog Posts">
  <section>
    {blogPosts.map((post) => (
      <div>
        <h5>
          <a href={`/blog/${post.slug}`}>{post.data.title} &gt;&gt;</a>  
        </h5>  
      </div>
    ))}
  </section>
</Layout>