---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recommneded Reading">
	<section>
		<h1>Recommended Reading</h1>
		<ul>
      <li>
        <a href="https://www.amazon.com/G%C3%B6del-Escher-Bach-Eternal-Golden/dp/0465026567/" target="_blank">Gödel, Escher, Bach: An Eternal Golden Braid</a>
      </li>
      <li>
        <a href="https://www.amazon.com/Fluid-Concepts-Creative-Analogies-Fundamental-ebook/dp/B001SESFSQ/" target="_blank">Fluid Concepts and Creative Analogies: Computer Models Of The Fundamental Mechanisms Of Thought</a>
      </li>
      <li>
        <a href="https://www.amazon.com/Blind-Watchmaker-Evidence-Evolution-Universe-ebook/dp/B014LJE1HI/" target="_blank">The Blind Watchmaker: Why the Evidence of Evolution Reveals a Universe without Design</a>
      </li>
      <li>
        <a href="https://www.amazon.com/Programmers-Introduction-Mathematics-Dr-Jeremy/dp/1727125452/" target="_blank">A Programmer's Introduction to Mathematics</a>
      </li>
      <li>
        <a href="https://www.amazon.com/Feynman-Lectures-Physics-boxed-set/dp/0465023827/" target="_blank">The Feynman Lectures on Physics</a>
      </li>
    </ul>
	</section>
</Layout>
     
<style>
	ul {
    list-style-type: none;
  }
  li:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
</style>
