---
import Layout from '../layouts/Layout.astro';
---

<Layout title="We Turn Designs into Code">
	<main>
		<h1>Memory Allocation</h1>
		<h2>Turning your designs into code.</h2>
		<p>
			Have a design or an idea and need to make it come to life?<br>
		</p>
		<br>
		<p>
			We offer services for you to get your business up and running.<br>
			With Over 19 years in professional development in a wide range of industries.
			<br><br>
			We build phone applications (iOS and Android) from the ground up,
			to website and app development we make your business stand out by following
			best standards, accessibility, and pushing the envelope to make you unique.
		</p>
	</main>
</Layout>

<style>
	
</style>
