---
import Layout from '../layouts/Layout.astro';
---

<Layout title="We Turn Designs into Code">
	<main>
		<h2>Turning your designs into code.</h2>
		<p>
			Already have a design and need to make it functional?<br>
			Have an idea and want to make it come to life?
		</p>
		<br>
		<p>
			We offer services for you to get your business up and running.
			Over 17 years in professional development in a wide range of industries.
			<br><br>
			From building phone applications (iOS and Android) from the ground up,
			to website and app development we make your business stand out by following
			best standards, accessibility, and pushing the envelope to make you unique.
		</p>
	</main>
</Layout>

<style>

</style>
