---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const notes = await getCollection('notes');
---

<Layout title="Notes">
  <section>
    <p>
      A sandbox for my notes, I will dump notes here maybe write a blog entry about them.
    </p>
    {notes.map((note) => (
      <div>
        <h4>
          <a href={`/notes/${note.slug}`}>{note.data.title}</a>  
        </h4>  
      </div>
    ))}
  </section>
</Layout>