---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services We Provide">
  <section>
    <ul>
      <li>Web Development</li>
      <li>Mobile Application</li>
      <li>Consultation</li>
    </ul>
  </section>
</Layout>