---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services We Provide">
  <section>
    <h1>Services we provide</h1>
    <ul>
      <li>Web Development</li>
      <li>Mobile Application Development</li>
      <li>Teaching/Mentoring</li>
      <li>Consultation</li>
      <li>Content Management Systems (CMS)</li>
      <li>API Design</li>
      <li>Integrations</li>
      <li>HTML Canvas Games</li>
    </ul>
  </section>
</Layout>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2rem;
  }
</style>