---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services We Provide">
  <section>
    <ul>
      <li>Web Development</li>
      <li>Mobile Application Development</li>
      <li>Consultation</li>
      <li>Content Management Systems (CMS)</li>
      <li>API Design</li>
      <li>Integrations</li>
    </ul>
  </section>
</Layout>